#---------------------------
# OS固有ファイル
#---------------------------
.DS_Store
Thumbs.db

#---------------------------
# Pythonキャッシュ / venv
#---------------------------
__pycache__/
*.pyc
.ipynb_checkpoints
venv/
.venv/

#---------------------------
# 環境変数ファイル
#---------------------------
.env

#---------------------------
# Docker で作成される DBデータ等
#---------------------------
db/
mysql/
postgres/
postgres-data/

#---------------------------
# MLflow関連(artifacts, runs など)
#---------------------------
*/artifacts/
*/runs/
*/mlruns/

#---------------------------
# 大容量データや不要ファイル
#---------------------------
stock-category_all.csv
jupyter/data/
jupyter/notebooks/input/

#---------------------------
# 認証情報ファイル (要確認)
#---------------------------
docker/client.json
